<!-- Dynamic Form using FormArray -->
<form>
  <div class="form-group">
    <label for="topic">Topics</label>
    <input
      type="text"
      class="form-control"
      #topic
      (keyup.enter)="addTopic(topic)"
      id="topic"
      placeholder="Type a topic and enter"
    />
    <ul class="list-group" *ngFor="let topic of topics.controls">
      <li class="list-group-item" (click)="removeTopic(topic)">
        {{ topic.value }}>
        <button type="button" class="btn btn-primary">Remove</button>
      </li>
    </ul>
  </div>
</form>
