<!-- String Interpolation - Using "{{}}"-->
<h2>{{ title }}</h2>

<!--
  Directives (built-in)
  Using "ng" for modifying the DOM
  Like "ngFor" there are many other like "ngIf" & etc
  Using add and remove methods
-->
<button class="btn btn-primary" (click)="onAdd()">Add course</button>
<ul>
  <li class="mt-2" *ngFor="let course of courses; let i = index">
    {{ course }}
    <button class="btn btn-light" (click)="onRemove(i)">Remove</button>
  </li>
</ul>

<!-- Property Binding - (changing the properties of a DOM element in HTML) -->
<div class="reg-div">
  <h4>Property Binding</h4>
  <div><input [value]="inputField" /></div>
  <div><img [src]="imageSrc" /></div>
</div>

<!--
  Attribute Binding - using attribute binding when DOM element is not found / when there's no 1 to 1 mapping with the DOM elements and HTML.
  In this case we need to use "attr."
-->
<div class="reg-div">
  <h4>Attribute Binding</h4>
  <table>
    <tr>
      <td [attr.colspan]="colSpan">Sum: $180</td>
    </tr>
  </table>
</div>

<!-- Adding a bootstrap button -->
<div class="reg-div">
  <h4>Adding a bootstrap button</h4>
  <button class="btn btn-primary">Save</button>
</div>

<!-- Class binding -->
<div class="reg-div">
  <h4>Class Binding</h4>
  <h6>Ex:1</h6>
  <button class="btn btn-secondary" [class.disabled]="isDisabled">Close</button>

  <!--
    The ngClass will allow to combine multiple classes together into one block
    As shown, 'disabled' and 'active' classes  have been added within ngClass
  -->
  <h6 class="mt-2">Ex:2 with ngClass</h6>
  <button
    class="btn btn-secondary"
    [ngClass]="{ disabled: isDisabled, active: isActive }"
  >
    Close
  </button>
</div>

<!--
  Style binding. Supports all the Style DOM objects documented here: https://www.w3schools.com/jsref/dom_obj_style.asp
  ngStyle - for bundling multiple styles together
-->
<div class="reg-div">
  <h4>Style Binding</h4>
  <h6>Ex:1</h6>
  <button
    class="btn btn-secondary"
    [style.backgroundColor]="isActive ? '#33BEFF' : '#E3CD16'"
    [style.color]="isActive ? 'black' : 'white'"
  >
    Deactivate
  </button>

  <h6 class="mt-2">Ex:2 with ngStyle</h6>
  <button
    class="btn btn-secondary"
    [ngStyle]="{
      backgroundColor: isActive ? '#33BEFF' : '#E3CD16',
      color: isActive ? 'white' : 'black'
    }"
  >
    Activate
  </button>
</div>

<!-- Event binding: ex:1 -->
<div class="reg-div">
  <h4>Event Binding</h4>
  <button
    (click)="onSave()"
    class="btn btn-secondary"
    [style.backgroundColor]="'#9F1462'"
  >
    Save
  </button>
</div>

<!-- Event binding: ex:2 - with DOM events such as X, Y position, keyup & etc. More: https://www.w3schools.com/jsref/dom_obj_event.asp  -->
<div class="reg-div">
  <button
    (click)="onSaveWithEvent($event)"
    class="btn btn-secondary"
    [style.backgroundColor]="'#9F1462'"
  >
    Save (With DOM event)
  </button>
</div>

<!--
  Event binding: ex:2 - prevent event bubble (i.e. stop calling the events up the hierarchy if available)
  In this only the onSaveWithEvent will be triggered since "stopPropagation" is used
-->
<div class="reg-div" (click)="divClickEvent($event)">
  <button
    (click)="onPrint($event)"
    class="btn btn-secondary"
    [style.backgroundColor]="'#0C8A14'"
  >
    Print (with stopPropagation)
  </button>
</div>

<!-- Event filtering -->
<div class="reg-div">
  <h4>Event filtering</h4>
  Event filtering: <input (keyup.enter)="onKeyUpEventFiltering()" />
</div>

<!-- Without event filtering (the old JS way) -->
<div class="reg-div">
  Without event filtering:
  <input (keyup)="onKeyUpEventWithoutEventFiltering($event)" />
</div>

<!-- Template variable -->
<div class="reg-div">
  <h4>Template variable</h4>
  Template Variable (hit enter):
  <input #email (keyup.enter)="templateVariable(email.value)" />
</div>

<!-- Without Template variable -->
<div class="reg-div">
  Without Template Variable (hit enter):
  <input (keyup.enter)="withoutTemplateVariable($event)" />
</div>

<!--
  Two way binding - using ngModel
  Communicate between component and view on both directions (as opposed to property binding which is only component to view communication only)
-->
<div class="reg-div">
  <h4>Two-way Binding using ngModel</h4>
  <div>
    <input [(ngModel)]="emailAddress" (keyup.enter)="onKeyUp2WayBinding()" />
  </div>
  <div>{{ emailAddress }}</div>
</div>

<!--
  Pipes - used for formatting the display of Strings, currency and etc. Ex: display a string in all capital letters
  In this example we change - uppercase, decimal points, number format, currency and date format
-->
<div class="reg-div">
  <h4>Pipes</h4>
  <div>
    {{ course.title | uppercase }} <br />
    {{ course.rating | number: "1.2-2" }} <br />
    {{ course.students | number }} <br />
    {{ course.price | currency: "AUD" }} <br />
    {{ course.releaseDate | date: "shortDate" }} <br />
  </div>
</div>

<!-- Custom pipes -->
<div class="reg-div">
  <h4>Custom Pipes</h4>
  {{ text | summary: 65 }}
</div>
