<div>
  <h1>Angular test</h1>
  <hr class="dashed" />
  <h4>Courses component</h4>
  <app-courses></app-courses>

  <hr class="dashed" />
  <h4>
    Courses component - example with passing values using an Input decorator
  </h4>
  <app-course [course-name]="'Mathematics'"></app-course>

  <hr class="dashed" />
  <h4>Favourite component</h4>

  <!--
    - Favourite component
    - Using the aliases for input and output ("on-favorite-change" and "is-favourite") defined in "favourite.component.ts"
    - Can also use the actual Input and Output variable names instead of the alias.
  -->
  <app-favourite
    [is-favorite]="post.isFavourite"
    (on-favorite-change)="onFavouriteChanged($event)"
  ></app-favourite>

  <!--
    - Bootstrap panel/card component using ngContent and ngContainer
    - ngContent allows to provide/pass custom content to the reusable components
    - In this ex. the classes "heading" and "body" matches them via ng-content defined in "panel.component.html"
    - In this ex. ng-content defined in "panel.component.html" will be replaced by <span>
  -->
  <hr class="dashed" />
  <h4>ngContent and ngContainer</h4>
  <app-panel>
    <!-- span will replace the ngContent by injecting a span -->
    <span class="heading">Heading</span>

    <!-- ngContent will be replaced, however no html element will be injected -->
    <ng-container class="body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
    </ng-container>
  </app-panel>

  <!-- Switch Directive -->
  <hr class="dashed" />
  <h4>Switch directive</h4>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="viewType == 'map'"
        aria-current="page"
        (click)="viewType = 'map'; $event.preventDefault()"
        href="#"
        >Map</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="viewType == 'list'"
        (click)="viewType = 'list'; $event.preventDefault()"
        href="#"
        >List</a
      >
    </li>
  </ul>
  <div [ngSwitch]="viewType">
    <div *ngSwitchCase="'map'">Map view content</div>
    <div *ngSwitchCase="'list'">List view content</div>
    <div *ngSwitchCaseDefault>List view content</div>
  </div>

  <!--
    Safe Traversal Operator
    Using "?" for Safe Traversal. This will helpful when the data is temporarily unavailable such as being loaded from a server.
  -->
  <hr class="dashed" />
  <h4>Safe Traversal Operator</h4>
  <span>{{ project.assignee?.name }}</span>

  <!--
    Custom directives
  -->
  <hr class="dashed" />
  <h4>Custom directives</h4>

  <div>
    <h6>Ex1:without an attribute in the directive</h6>
    <input type="text" appInputFormat />
  </div>

  <div class="mt-2">
    <h6>Ex2:with an attribute attached in the directive</h6>
    <input type="text" [appInputFormat]="'lowercase'" />
  </div>

  <!-- Angular template-driven forms with Bootstrap -->
  <hr class="dashed" />
  <h4>Angular template-driven forms with Bootstrap</h4>
  <app-contact-form></app-contact-form>

  <!-- Angular reactive forms with Bootstrap -->
  <hr class="dashed" />
  <h4>Angular reactive forms with Bootstrap</h4>
  <app-reactive-forms></app-reactive-forms>

  <!-- Angular dynamic reactive forms -->
  <hr class="dashed" />
  <h4>Angular dynamic reactive forms</h4>
  <app-reactive-forms-dynamic></app-reactive-forms-dynamic>

  <!-- Posts component fetching data using HTTP -->
  <hr class="dashed" />
  <h4>Posts component fetching data using HTTP</h4>
  <app-post-component></app-post-component>
</div>
