<div>
  <h1>Angular test</h1>
  <hr class="dashed" />
  <h4>Courses component</h4>
  <courses></courses>

  <hr class="dashed" />
  <h4>
    Courses component - example with passing values using an Input decorator
  </h4>
  <app-course [course-name]="'Mathematics'"></app-course>

  <hr class="dashed" />
  <h4>Favourite component</h4>

  <!--
    - Favourite component
    - Using the aliases for input and output ("on-favorite-change" and "is-favourite") defined in "favourite.component.ts"
    - Can also use the actual Input and Output variable names instead of the alias.
  -->
  <app-favourite
    [is-favorite]="post.isFavourite"
    (on-favorite-change)="onFavouriteChanged($event)"
  ></app-favourite>

  <!--
    - Bootstrap panel/card component using ngContent
    - ngContent allows to provide/pass custom content to the reusable components
    - In this ex. the classes "heading" and "body" matches them via ng-content defined in "panel.component.html"
    - In this ex. ng-content defined in "panel.component.html" will be replaced by <span> and <div>
  -->
  <hr class="dashed" />
  <h4>ngContent</h4>
  <app-panel>
    <span class="heading">Heading</span>
    <div class="body">Body</div>
  </app-panel>
</div>
