<!--
  - Angular Reactive forms
  - binding "formControlName" such as email and password defined in 'reactive-forms.component.ts'
-->
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="alert alert-danger" *ngIf="form.errors?.['invalidLogin']">
    Form global error
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1"
      >Email address (type "me@me.com" for invalid email)</label
    >
    <input
      formControlName="email"
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      (change)="emailLog(emailInput)"
    />
    <div *ngIf="emailInput?.pending">
      <fa-icon [icon]="['fas', 'spinner']"></fa-icon> Checking for unique
      email......
    </div>
    <div
      *ngIf="emailInput?.touched && emailInput?.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="emailInput?.errors?.['required']">Email is required</div>
      <div *ngIf="emailInput?.errors?.['email']">Email is invalid</div>
      <div *ngIf="emailInput?.errors?.['shouldBeUnique']">
        Email should be unique
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      formControlName="password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Password"
      (change)="passwordLog(passwordInput)"
    />
    <div
      *ngIf="passwordInput?.touched && passwordInput?.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="passwordInput?.errors?.['minlength']">
        Password must be not less than
        {{passwordInput?.errors?.['minlength'].requiredLength}}
        characters
      </div>

      <div *ngIf="passwordInput?.errors?.['required']">
        Password is required
      </div>
      <div *ngIf="passwordInput?.errors?.['cannotContainSpace']">
        Password cannot contain spaces
      </div>
    </div>
  </div>

  <!-- Following inputs are being used for demoing grouped inputs within the reactive forms-->
  <div formGroupName="account">
    <div class="form-group">
      <label for="accountName">Account Name</label>
      <input
        type="text"
        formControlName="accountName"
        class="form-control"
        id="accountName"
      />
    </div>
    <div class="form-group">
      <label for="accountType">Account Type</label>
      <input
        type="text"
        formControlName="accountType"
        class="form-control"
        id="accountType"
      />
    </div>
  </div>

  <!-- Submit button-->
  <button
    type="submit"
    [disabled]="form.invalid || emailInput?.pending"
    class="btn btn-primary mt-2"
  >
    Submit
  </button>
</form>
