/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  padding: 20px;
}

.reg-div {
  padding-top: 30px;
}

.form-control.ng-touched.ng-invalid {
  border-color: rgb(228, 10, 10) !important;
}
